{{#>admin}}
{{#*inline "table"}}
<h1 class="black text-dark ms-3 mt-0 mt-lg-2 mb-5">
    Manage Product
</h1>
<table class="table table-striped mb-4 table-responsive">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each allProducts}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{title}}</td>
            <td><a href="">Edit</a></td>
            <td>
                <form action="/admin/{{id}}" method="post">
                        <button type="submit" class="btn btn-danger btn-sm btn-rounded">
                            <i class="far fa-trash-alt"></i>
                        </button>

                </form>
            </td>
        </tr>

        {{/each}}
    </tbody>
</table>
{{/inline}}

{{/admin}}