<footer class="bg-secondary-app text-center text-white mt-lg-0">
    <!-- Grid container -->
    <div class="container p-4">
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-3 col-md-12  col-lg-12 mb-4 mb-md-0">
                <h5 class="text-uppercase black">Fashion</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="/" class="text-white">Home</a>
                    </li>
                    <li>
                        <a href="/about" class="text-white">About</a>
                    </li>
                    <li>
                        <a href="/products" class="text-white">Products</a>
                    </li>
                    <li>
                        <a href="/auth/login" class="text-white">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright:
        <a class="text-white" href="#">Mahmoued Eddie</a>
    </div>
    <!-- Copyright -->
</footer>