<div class="container mt-5">
    <h2 class="fw-bold text-dark black mb-5 ms-2">
        NEW ARRIVALS
    </h2>
    <div class="row g-5 g-lg-3">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple"
                    data-mdb-ripple-color="light">
                    <img
                        src="img/product_1.png"
                        class="img-fluid"/>
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251,
                            251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body" id="simple-grid-css">
                    <h5 class="card-title medium text-dark">Hoodies & Sweetshirt</h5>
                    <p class="card-text text-muted">Explore Now!.</p>
                    <div class="grid-item-two">
                        <a href="/products">
                            <img src="img/arrow.svg" class="img-fluid float-end" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple"
                    data-mdb-ripple-color="light">
                    <img
                        src="img/2.png"
                        class="img-fluid"/>
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251,
                            251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title medium text-dark">Coats & Parkas</h5>
                    <p class="card-text text-muted">Explore Now!.</p>
                    <div class="grid-item-two">
                        <a href="products">
                            <img src="img/arrow.svg" class="img-fluid float-end" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple"
                    data-mdb-ripple-color="light">
                    <img
                        src="img/product_3.png"
                        class="img-fluid"/>
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251,
                            251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title medium text-dark">Tees & T-Shirt</h5>
                    <p class="card-text text-muted">Explore Now!.</p>
                        <div class="grid-item-two">
                        <a href="products">
                            <img src="img/arrow.svg" class="img-fluid float-end" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

