{{>default}}
<div class="container mt-3 py-3">
    <div class="row">
        <div class="col-12">
            <div class="card ">
                <div class="card-body">
                    <h5 class="card-title black">
                        {{about.cardText}}
                    </h5>
                    <p class="card-text">
                       {{about.info}}
                    </p>


                </div>
                <div class="card-footer text-primary fw-bold">{{about.cardFooter}}</div>
            </div>
        </div>
    </div>
</div>

{{>footer}}