{{>default}}

<div class="container mt-5 mb-3 mb-lg-5">
    <div class="row">
        <div class="col-12">
            {{#with product}}
            <div class="card mb-3 shadow-4">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img
                            src="../../img/{{img}}"
                            alt="Trendy Pants and Shoes"
                            class="img-fluid rounded-start"
                            />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title black">{{title}}</h5>
                            <p class="card-text">
                               {{subtitle}} (${{price}})
                            </p>
                            <button class="btn btn-dark text-dark" style="background-color: #E6C744;">
                                    Add To Card
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {{/with}}
        </div>
    </div>
</div>

{{>footer}}