/* our variable */

$bg-primary-app: #fff;
$color-primary-app: #fff;
$bg-secondary-app: #000;
$color-secondary-app: #000;
$bg-app: #E6C744;
$color-silver: #C2C8DA;


.bg-primary-app {
    background-color: $bg-primary-app;
}

.color-primary-app {
    color: $color-primary-app;
}

.bg-secondary-app {
    background-color: $bg-secondary-app;
}

.color-secondary-app {
    color: $color-secondary-app;
}

.bg-app {
    background-color: $bg-app;
}

.color-silver {
    background-color: $color-silver;
}



* {
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    font-family: 'Poppins', sans-serif;
}

.medium {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.regular {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.black {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}


.navbar-nav {
    .hover:hover {
        font-weight: bold;
        color: blueviolet !important;
    }
}

.logo {
    width: 200px;
}

.card-hero {
    background-color: $color-silver;
}

#message {
    background: linear-gradient(1.32deg, #E0C340 0.13%, #DFC23E 3.97%, #E1C441 7.2%, #E3C743 10.13%, #E4C542 12.98%, #E6C744 15.99%, #E7C845 19.52%, #E5C643 23.96%, #E6C945 30.43%, #E3C743 36.49%, #E9CA48 42.49%, #EDCE49 49.35%, #F0D44C 55.42%, #F4D84F 61.43%, #F6DA52 65.74%, #F7DB53 72.23%, #F9DD55 77.43%, #F9DF56 83.84%, #FAE157 91.52%, #F9DF56 97.87%);

    .small-items {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-content: center;
        justify-content: center;

        .style-bg {
            background-color: $bg-primary-app;

        }
    }
}

footer {
    width: 100%;

    li {
        a:hover {
            color: #E0C340 !important;
            font-weight: bold;
        }
    }
}


#admin-panel {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 70px 1fr 1fr;
    gap: 30px;
    height: 100vh;

    aside {
        height: 100vh;
        text-align: center;
        margin: 0;
        padding: 0;
        overflow: hidden;
        box-sizing: border-box;
        grid-column: 1/2;
        grid-row: 1/4;
        padding: 50px;
        color: #C2C8DA;
        font-weight: bold;
        box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
    }

    .admin-nav {
        grid-row: 1/2;
        grid-column: 2/3;

        ul {
            li> a:hover {
                color: #E0C340 !important;
            }
        }
    }

    main {
        grid-column: 2/3;
        grid-row: 2/4;
        
    }

}

.gradient-custom {
    background: radial-gradient(50% 123.47% at 50% 50%, #00FF94 0%, #720059 100%), linear-gradient(121.28deg, #669600 0%, #FF0000 100%), linear-gradient(360deg, #0029FF 0%, #8FFF00 100%), radial-gradient(100% 164.72% at 100% 100%, #6100FF 0%, #00FF57 100%), radial-gradient(100% 148.07% at 0% 0%, #FFF500 0%, #51D500 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
}


@media(max-width: 768px) {

    .logo {
        width: 100px;
    }

    .card {
        background-color: $bg-primary-app;
    }

    .navbar-nav {
        .hover:hover {
            font-weight: bold;
            color: blueviolet !important;
        }
    }

    .flex-items-colums {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sm-text {
        text-align: center !important;
        width: 50%;
    }

    #admin-panel {
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        aside{
            display: none;
        }

        .admin-nav {
            grid-column: 1/-1;

            ul {
                li> a:hover {
                    color: #E0C340 !important;
                }
            }
        }

        main {
            grid-column: 1/-1;
            
        }
    }
}


@media (min-width: 769px) and (max-width: 992px) {

    .logo {
        width: 100px;
    }

    .card {
        background-color: $bg-primary-app !important;
    }

    .navbar-nav {
        .hover:hover {
            font-weight: bold;
            color: blueviolet !important;
        }
    }

    .flex-items-colums {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sm-text {
        text-align: center !important;
        width: 30%;
    }

    #admin-panel {
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        aside{
            display: none;
        }

        .admin-nav {
            grid-column: 1/-1;

            ul {
                li> a:hover {
                    color: #E0C340 !important;
                }
            }
        }

        main {
            grid-column: 1/-1;
            
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .small-items {
        padding: 2rem 0;
    }
    #admin-panel {
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        aside{
            display: none;
        }

        .admin-nav {
            grid-column: 1/-1;

            ul {
                li> a:hover {
                    color: #E0C340 !important;
                }
            }
        }

        main {
            grid-column: 1/-1;
            
        }
    }
}
